::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::selection {
    color: #fff;
    background: #4892d3;
}
html,body{
  /* font-family: 'Open Sans', sans-serif; */
  font-family:  'Poppins', sans-serif;
  color: #58595b;
  font-weight: 100;
}
button {
  outline: none !important;
}
.btn-primary {
  background-color: #ff7426;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  /* padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem; */
  color: white;
  border-radius: 0.25rem;
}
.primary {
  color: #ff7426;
}
.bg-primary {
  background-color: #ff7426;
}
.hover-primary {
  color: #ff7426;
}
