::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::selection {
    color: #fff;
    background: #4892d3;
}
html,body{
  font-family: 'Open Sans', sans-serif;
  color: #58595b;
  background-color: #fbfbfb;
}
h1,h2{
  color: #2d3748;
}
button {
  outline: none !important;
}
img{
  z-index: 0;
}
.underline {
  background-image: linear-gradient(
    to right,
    rgb(250, 112, 154) 0%,
    rgb(254, 225, 64) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}
.underline:hover {
  background-size: 100% 88%;
}
.btn-primary {
  background-color: #ff7426;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  /* padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem; */
  color: white;
}
.primary {
  color: darkorange;
}
.bg-primary {
  background-color: #ff7426;
}
.hover-primary {
  color: #ff7426;
}
.button {
  transition: all 0.5s;
}
.button span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}